---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Your Results">
	<main class=" font-Hanken lg:h-screen lg:bg-slate-100 overflow-hidden">
		
		<section class=" lg:bg-white lg:rounded-[35px] text-center lg:flex lg:absolute lg:-translate-x-1/2 lg:-translate-y-1/2 lg:top-1/2 lg:left-1/2">

			<div class="py-5 px-2 lg:px-10 lg:max-w-[400px] text-white bg-gradient-to-t from-[#322fdc]  via-[#4644ce] to-[#6949e8] lg:rounded-[35px] rounded-b-[35px] lg:flex lg:flex-col lg:place-content-center">
         <h1 class="pb-5 text-xl text-[#c8c7ff]">Your Result</h1>

		 <div class=" w-full flex flex-col items-center lg:py-5">
			<div class="py-4 px-6 lg:py-6 lg:px-8 w-min rounded-full bg-gradient-to-t from-[#403dd4] via-[#3533c1] to-[#1c19c4]">
			<h1 class=" text-5xl lg:text-7xl">76</h1>
			<span class=" text-sm text-[#c8c7ff]">of 100</span>
		</div>
		 </div>

		 <div class="pt-5">
		 <h2 class=" pb-3 text-2xl font-medium">Great</h2>
		 <p class=" text-balance lg:text-pretty text-sm text-[#c8c7ff]">You scored higher than 65% of the people who have been
			taking these tests
		 </p>
		</div>
			</div>	

	
			<div class=" w-full px-10 pb-5 lg:max-w-[400px]">
				<h1 class="text-xl py-5 text-start font-medium">Summary</h1>

				<div class="text-sm flex justify-between bg-[#ff5757]/10 py-4 px-3 rounded-xl mb-4">
					<div class="flex space-x-2">
						<img src="icon-reaction.svg" alt="">
						<p class="text-[#ff5757] font-medium">Reaction</p>
					</div>
					<div>
						<p class=" text-[#303b5a] font-medium">80 <span class="text-[#9299aa] font-light">/ 100</span></p>
					</div>
				</div>

				<div class="text-sm flex justify-between bg-[#ffb11f]/10 py-4 px-3 rounded-xl mb-4">
					<div class="flex space-x-2">
						<img src="icon-memory.svg" alt="">
						<p class="text-[#ffb11f] font-medium">Memory</p>
					</div>
					<div>
						<p class=" text-[#303b5a] font-medium">92 <span class="text-[#9299aa] font-light">/ 100</span></p>
					</div>
				</div>

				<div class="text-sm flex justify-between bg-[#00bd91]/10 py-4 px-3 rounded-xl mb-4">
					<div class="flex space-x-2">
						<img src="icon-verbal.svg" alt="">
						<p class="text-[#00bd91] font-medium">Verbal</p>
					</div>
					<div>
						<p class=" text-[#303b5a] font-medium">61 <span class="text-[#9299aa] font-light">/ 100</span></p>
					</div>
				</div>

				<div class="text-sm flex justify-between bg-[#1125d4]/10 py-4 px-3 rounded-xl">
					<div class="flex space-x-2">
						<img src="icon-visual.svg" alt="">
						<p class="text-[#1125d4] font-medium">Visual</p>
					</div>
					<div>
						<p class=" text-[#303b5a] font-medium">72 <span class="text-[#9299aa] font-light">/ 100</span></p>
					</div>
				</div>


				<div>

					<button class=" py-3 rounded-full text-white w-full mt-5 bg-[#303b5a] hover:bg-gradient-to-t from-[#322fdc]  via-[#4644ce] to-[#6949e8] transition-all  ease-in-out duration-300">Continue</button>
				</div>
				
			</div>


			

		</section

	
	
		
	</main> 
</Layout>


